In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import sqlite3

In [ ]:
# # To plot pretty figures
# %matplotlib inline
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# mpl.rc('axes', labelsize=14)
# mpl.rc('xtick', labelsize=12)
# mpl.rc('ytick', labelsize=12)

# # Where to save the figures
# PROJECT_ROOT_DIR = "."
# CHAPTER_ID = "ml_exercise"
# IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "../datasets/images", CHAPTER_ID)
# os.makedirs(IMAGES_PATH, exist_ok=True)

# def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
#     path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
#     print("Saving figure", fig_id)
#     if tight_layout:
#         plt.tight_layout()
#     plt.savefig(path, format=fig_extension, dpi=resolution)

In [ ]:
# # Path to the folder containing CSV files
# folder_path = '../datasets/sensor_data/Dallas/*.csv'

# # Use glob to get all CSV files in the folder
# csv_files = glob.glob(folder_path)

# # Initialize an empty list to store individual DataFrames
# dfs = []

# # Iterate over each CSV file and read it into a DataFrame
# for file in csv_files:
#     df = pd.read_csv(file)
#     dfs.append(df)

# # Concatenate all DataFrames into a single DataFrame
# dallas = pd.concat(dfs, ignore_index=True)

sensor_nashville

In [ ]:
# dallas.to_csv('../datasets/dallas.csv')

In [ ]:
# sensor_nashville.to_csv('../datasets/sensor_nashville.csv')

In [ ]:
# %matplotlib inline
# import matplotlib.pyplot as plt
# sensor_amarillo.hist(bins=50, figsize=(20,15))
# save_fig("attribute_histogram_plots")
# plt.show()

In [ ]:
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Load your dataset
# sensor_amarillo_dropped_na=sensor_amarillo.dropna(axis=1)
# sensor_amarillo_selected = sensor_amarillo_dropped_na.drop(columns=['time_stamp','sensor_index','pm2.5_atm_a', 'pm2.5_atm_b'])

# # Calculate the correlation matrix
# correlation_matrix = sensor_amarillo_selected.corr()

# # Visualize the correlation matrix as a heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Matrix')
# plt.show()

In [ ]:
sensor_amarillo = pd.read_csv('../datasets/sensor_data/amarillo.csv', index_col = False)

In [ ]:
sensor_amarillo.head(20)

In [ ]:
# sensor_amarillo = sensor_amarillo.drop(columns=['humidity_b','temperature_b', 'pressure_b'])

In [ ]:
sensor_amarillo['time_stamp'] = pd.to_datetime(sensor_amarillo['time_stamp'])

In [ ]:
sensor_amarillo.set_index('time_stamp', inplace=True)

In [ ]:
sensor_amarillo.sort_index(inplace=True)

In [ ]:
columns_to_plot = ['pm2.5_atm_a', 'pm2.5_cf_1_a']
sensor_amarillo_a = sensor_amarillo[columns_to_plot]
sensor_amarillo_a.plot()

In [ ]:
from pandas.plotting import autocorrelation_plot
autocorrelation_plot(sensor_amarillo_a['pm2.5_cf_1_a'])

In [ ]:
columns_to_plot = ['pm2.5_atm_b', 'pm2.5_cf_1_b']
sensor_amarillo_b = sensor_amarillo[columns_to_plot]
sensor_amarillo_b.plot()

In [ ]:
# sensor_amarillo_a.to_csv('../datasets/sensor_data/amarillo_a.csv')

In [ ]:
# sensor_amarillo.to_csv('../datasets/sensor_data/amarillo.csv')

In [ ]:
sensor_amarillo_b.head()

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf

In [ ]:
plot_acf(sensor_amarillo_b['pm2.5_cf_1_b'])

lOOKS STATIONARY LIKE SUSPECTED

LET'S DO A AUGMENTED DICKEY-FULLER TEST JUST TO BE SURE

In [ ]:
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import acf, pacf

result = adfuller(sensor_amarillo_b['pm2.5_cf_1_b'])

In [ ]:
print(result[1])

IN adfuller, null hypothesis is the data is non-stationary


So we can safely reject the null hypothesis in favor of alternate hypothesis " the time series data we have is stationary"

No differencing is needed ( d= 0)

In [ ]:
result = adfuller(sensor_amarillo_b['pm2.5_cf_1_b'].diff().dropna())
print(result[1])

In [ ]:
f = plt.figure()
ax1 = f.add_subplot(121)
ax1.set_title('sensor data as is')
ax1.plot(sensor_amarillo_b['pm2.5_cf_1_b'])

ax2 = f.add_subplot(122)
plot_pacf(sensor_amarillo_b['pm2.5_cf_1_b'].dropna(), ax = ax2)
plt.show()

no lag is needed. p = 0

In [ ]:
query = """
SELECT * FROM data_table
WHERE sensor_index = '2644'

"""

with sqlite3.connect('../datasets/dallas.sqlite') as db:
    dallas_2644= pd.read_sql(query, db)
    
dallas_2644

In [ ]:
# dallas_2644['time_stamp'] = pd.to_datetime(dallas_2644['time_stamp'])
# dallas_2644.set_index('time_stamp', inplace=True)
dallas_2644.sort_index(inplace=True)
columns_to_plot = ['pm2.5_atm_a']
dallas_2644_a = dallas_2644[columns_to_plot]
dallas_2644_a.plot()

In [ ]:
dallas_2644

In [ ]:
import plotly.graph_objs as go

# Plot using Plotly
fig = go.Figure()
fig.add_trace(go.Scatter(x=dallas_2644['time_stamp'], y=dallas_2644['pm2.5_atm_a'], mode='lines'))
fig.update_layout(title='PM2.5 (ATM) over Time in Dallas',
                  xaxis_title='Timestamp',
                  yaxis_title='PM2.5 (ATM)')
fig.show()

In [ ]:
query = """
SELECT * FROM sensor_table

"""

with sqlite3.connect('../datasets/dallas.sqlite') as db:
    sensors = pd.read_sql(query, db)
    
sensors

In [112]:
import sqlite3
import pandas as pd
query = """
SELECT * FROM data_table
where sensor_index =16271

"""

with sqlite3.connect('../datasets/dallas.sqlite') as db:
    data_16271 = pd.read_sql(query, db)
    
data_16271

,time_stamp,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
0,2024-03-29T00:00:00Z,16271,50.543,None,73.336,None,993.643,None,3.781,3.064,3.781,3.064
1,2024-03-30T00:00:00Z,16271,53.761,None,77.072,None,990.509,None,3.462,2.452,3.465,2.452
2,2024-03-28T00:00:00Z,16271,40.382,None,68.565,None,999.517,None,6.219,5.002,6.256,5.002
3,2024-03-27T00:00:00Z,16271,36.713,None,64.537,None,995.476,None,4.769,4.156,4.769,4.156
4,2024-03-25T00:00:00Z,16271,58.588,None,72.723,None,977.639,None,5.214,4.201,5.214,4.201
...,...,...,...,...,...,...,...,...,...,...,...,...
725,2022-04-05T00:00:00Z,16271,53.601,None,81.234,None,981.140,None,11.629,8.953,11.788,8.966
726,2022-04-04T00:00:00Z,16271,44.896,None,77.997,None,987.005,None,11.059,8.375,11.059,8.375
727,2022-04-03T00:00:00Z,16271,40.664,None,78.053,None,992.773,None,15.981,12.003,16.019,12.003
728,2022-04-02T00:00:00Z,16271,44.143,None,74.520,None,993.565,None,11.086,8.225,11.777,8.225
729,2022-04-01T00:00:00Z,16271,32.768,None,69.131,None,993.196,None,4.501,3.259,4.501,3.259

In [113]:
data_16271['time_stamp'] = pd.to_datetime(data_16271['time_stamp'])
data_16271.set_index('time_stamp', inplace=True)

In [114]:
data_16271 =  data_16271.sort_index(ascending=True)

In [115]:
data_16271

,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
time_stamp,,,,,,,,,,,
2022-04-01 00:00:00+00:00,16271,32.768,None,69.131,None,993.196,None,4.501,3.259,4.501,3.259
2022-04-02 00:00:00+00:00,16271,44.143,None,74.520,None,993.565,None,11.086,8.225,11.777,8.225
2022-04-03 00:00:00+00:00,16271,40.664,None,78.053,None,992.773,None,15.981,12.003,16.019,12.003
2022-04-04 00:00:00+00:00,16271,44.896,None,77.997,None,987.005,None,11.059,8.375,11.059,8.375
2022-04-05 00:00:00+00:00,16271,53.601,None,81.234,None,981.140,None,11.629,8.953,11.788,8.966
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-26 00:00:00+00:00,16271,34.174,None,60.935,None,990.037,None,2.510,2.217,2.510,2.217
2024-03-27 00:00:00+00:00,16271,36.713,None,64.537,None,995.476,None,4.769,4.156,4.769,4.156
2024-03-28 00:00:00+00:00,16271,40.382,None,68.565,None,999.517,None,6.219,5.002,6.256,5.002
2024-03-29 00:00:00+00:00,16271,50.543,None,73.336,None,993.643,None,3.781,3.064,3.781,3.064
2024-03-30 00:00:00+00:00,16271,53.761,None,77.072,None,990.509,None,3.462,2.452,3.465,2.452

In [ ]:
import plotly.graph_objs as go
# Plot using Plotly
fig = go.Figure()
fig.add_trace(go.Scatter(x=data_16271['time_stamp'], y=data_16271['pm2.5_atm_a'], mode='lines'))
fig.update_layout(title='PM2.5 (ATM) over Time in Dallas',
                  xaxis_title='Timestamp',
                  yaxis_title='PM2.5 (ATM)')
fig.show()

In [116]:
# Merging weather data from noaa to the data from a single sensor
weather_noaa_data = pd.read_csv('../datasets/Dallas_stations_data.csv')
# choose one station
weather_noaa_data_w =  weather_noaa_data[weather_noaa_data['STATION']=='USW00003971'][['STATION', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND', 'DAPR', 'MDPR', 'PGTM', 'PRCP', 'SNOW', 'SNWD', 'TAVG','TMAX','TMIN', 'WDF2','WDF5', 'WESD', 'WESF','WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06','WT08']]

In [117]:
weather_noaa_data.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'AWND',
       'AWND_ATTRIBUTES', 'DAPR', 'DAPR_ATTRIBUTES', 'MDPR', 'MDPR_ATTRIBUTES',
       'PGTM', 'PGTM_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW',
       'SNOW_ATTRIBUTES', 'SNWD', 'SNWD_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES',
       'TMAX', 'TMAX_ATTRIBUTES', 'TMIN', 'TMIN_ATTRIBUTES', 'WDF2',
       'WDF2_ATTRIBUTES', 'WDF5', 'WDF5_ATTRIBUTES', 'WESD', 'WESD_ATTRIBUTES',
       'WESF', 'WESF_ATTRIBUTES', 'WSF2', 'WSF2_ATTRIBUTES', 'WSF5',
       'WSF5_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES', 'WT02', 'WT02_ATTRIBUTES',
       'WT03', 'WT03_ATTRIBUTES', 'WT04', 'WT04_ATTRIBUTES', 'WT05',
       'WT05_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES', 'WT08',
       'WT08_ATTRIBUTES'],
      dtype='object')

In [118]:
weather_noaa_data_w_n = weather_noaa_data_w[:-2]

In [119]:
weather_noaa_data_w_n = weather_noaa_data_w_n.fillna(0)

In [120]:
weather_noaa_data_w_n['DATE'] = pd.to_datetime(weather_noaa_data_w_n['DATE'])
weather_noaa_data_w_n.set_index('DATE', inplace=True)

In [121]:
weather_noaa_data_w_n.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,...,WESF,WSF2,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08
DATE,,,,,,,,,,,,,,,,,,,,,
2022-04-01,USW00003971,32.67816,-96.86771,200.4,4.9,0.0,0.0,0.0,1.0,0.0,...,0.0,11.2,13.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-02,USW00003971,32.67816,-96.86771,200.4,3.1,0.0,0.0,0.0,1.3,0.0,...,0.0,7.2,10.3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2022-04-03,USW00003971,32.67816,-96.86771,200.4,5.5,0.0,0.0,0.0,0.0,0.0,...,0.0,10.7,15.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2022-04-04,USW00003971,32.67816,-96.86771,200.4,5.4,0.0,0.0,0.0,26.2,0.0,...,0.0,13.0,16.5,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2022-04-05,USW00003971,32.67816,-96.86771,200.4,4.6,0.0,0.0,0.0,0.3,0.0,...,0.0,9.4,14.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
data_16271.index = data_16271.index.date

In [126]:
data_16271.head()

,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
2022-04-01,16271,32.768,None,69.131,None,993.196,None,4.501,3.259,4.501,3.259
2022-04-02,16271,44.143,None,74.520,None,993.565,None,11.086,8.225,11.777,8.225
2022-04-03,16271,40.664,None,78.053,None,992.773,None,15.981,12.003,16.019,12.003
2022-04-04,16271,44.896,None,77.997,None,987.005,None,11.059,8.375,11.059,8.375
2022-04-05,16271,53.601,None,81.234,None,981.140,None,11.629,8.953,11.788,8.966

In [127]:
merged_df = pd.merge(data_16271, weather_noaa_data_w_n, left_index=True, right_index=True)

In [128]:
merged_df['pm2.5_lag1'] = merged_df['pm2.5_atm_a'].shift(1)

In [129]:
merged_df.head()

,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,...,WSF2,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,pm2.5_lag1
2022-04-01,16271,32.768,None,69.131,None,993.196,None,4.501,3.259,4.501,...,11.2,13.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2022-04-02,16271,44.143,None,74.520,None,993.565,None,11.086,8.225,11.777,...,7.2,10.3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.501
2022-04-03,16271,40.664,None,78.053,None,992.773,None,15.981,12.003,16.019,...,10.7,15.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.086
2022-04-04,16271,44.896,None,77.997,None,987.005,None,11.059,8.375,11.059,...,13.0,16.5,1.0,0.0,1.0,0.0,0.0,0.0,0.0,15.981
2022-04-05,16271,53.601,None,81.234,None,981.140,None,11.629,8.953,11.788,...,9.4,14.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11.059

In [130]:
merged_df = merged_df.fillna(0)

In [131]:
merged_df

,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,...,WSF2,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,pm2.5_lag1
2022-04-01,16271,32.768,0,69.131,0,993.196,0,4.501,3.259,4.501,...,11.2,13.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
2022-04-02,16271,44.143,0,74.520,0,993.565,0,11.086,8.225,11.777,...,7.2,10.3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.501
2022-04-03,16271,40.664,0,78.053,0,992.773,0,15.981,12.003,16.019,...,10.7,15.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.086
2022-04-04,16271,44.896,0,77.997,0,987.005,0,11.059,8.375,11.059,...,13.0,16.5,1.0,0.0,1.0,0.0,0.0,0.0,0.0,15.981
2022-04-05,16271,53.601,0,81.234,0,981.140,0,11.629,8.953,11.788,...,9.4,14.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-26,16271,34.174,0,60.935,0,990.037,0,2.510,2.217,2.510,...,9.8,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.214
2024-03-27,16271,36.713,0,64.537,0,995.476,0,4.769,4.156,4.769,...,6.3,8.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.510
2024-03-28,16271,40.382,0,68.565,0,999.517,0,6.219,5.002,6.256,...,7.6,10.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.769
2024-03-29,16271,50.543,0,73.336,0,993.643,0,3.781,3.064,3.781,...,13.9,19.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.219
2024-03-30,16271,53.761,0,77.072,0,990.509,0,3.462,2.452,3.465,...,9.8,13.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.781

In [132]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from xgboost import XGBRegressor
# Removing unwanted columns
columns_to_keep = [col for col in merged_df.columns if not col.endswith('_b') and col not in ['pm2.5_cf_1_a', 'STATION','LATITUDE','LONGITUDE','ELEVATION']]
merged_df = merged_df[columns_to_keep]

# Display the cleaned DataFrame structure
print("Cleaned DataFrame:")
print(merged_df.head())

Cleaned DataFrame:
            sensor_index  humidity_a  temperature_a  pressure_a  pm2.5_atm_a  \
2022-04-01         16271      32.768         69.131     993.196        4.501
2022-04-02         16271      44.143         74.520     993.565       11.086
2022-04-03         16271      40.664         78.053     992.773       15.981
2022-04-04         16271      44.896         77.997     987.005       11.059
2022-04-05         16271      53.601         81.234     981.140       11.629

            AWND  DAPR  MDPR  PGTM  PRCP  ...  WSF2  WSF5  WT01  WT02  WT03  \
2022-04-01   4.9   0.0   0.0   0.0   1.0  ...  11.2  13.9   0.0   0.0   0.0
2022-04-02   3.1   0.0   0.0   0.0   1.3  ...   7.2  10.3   0.0   0.0   0.0
2022-04-03   5.5   0.0   0.0   0.0   0.0  ...  10.7  15.2   0.0   0.0   0.0
2022-04-04   5.4   0.0   0.0   0.0  26.2  ...  13.0  16.5   1.0   0.0   1.0
2022-04-05   4.6   0.0   0.0   0.0   0.3  ...   9.4  14.3   1.0   0.0   0.0

            WT04  WT05  WT06  WT08  pm2.5_lag1
2022-04-01   0.0   0.0   0.0   0.0       0.000
2022-04-02   0.0   0.0   0.0   1.0       4.501
2022-04-03   0.0   0.0   0.0   0.0      11.086
2022-04-04   0.0   0.0   0.0   0.0      15.981
2022-04-05   0.0   0.0   0.0   0.0      11.059

[5 rows x 29 columns]

In [133]:
# Handle missing values using SimpleImputer
imputer = SimpleImputer(strategy='mean')
df_imputed = pd.DataFrame(imputer.fit_transform(merged_df), columns=merged_df.columns, index=merged_df.index)

In [134]:
# Separate features and target
X = df_imputed.drop(columns=['pm2.5_atm_a'])
y = df_imputed['pm2.5_atm_a']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=42)

In [135]:
# Scaling the data (optional, depending on the model you use)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize and train the model
# model = RandomForestRegressor(n_estimators=100, random_state=42)
model = XGBRegressor()
model.fit(X_train_scaled, y_train)

# Make predictions
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# Display a sample of actual vs predicted values
results = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(results.head())

Mean Squared Error: 39.23691930357682
            Actual  Predicted
2023-11-06   6.570  15.997624
2023-11-07   6.100   9.490262
2023-11-08   6.568   9.906039
2023-11-09  13.159   6.731962
2023-11-10   7.332   5.814260

In [136]:
feature_importances = model.feature_importances_
features = X.columns

importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

print("\nFeature Importances:")
print(importance_df)

Feature Importances:
          Feature  Importance
26           WT08    0.239854
27     pm2.5_lag1    0.204872
21           WT02    0.134481
12           TMAX    0.051270
8            PRCP    0.049448
4            AWND    0.044512
18           WSF2    0.038953
14           WDF2    0.037642
13           TMIN    0.036995
15           WDF5    0.034457
1      humidity_a    0.031868
20           WT01    0.029136
19           WSF5    0.020097
2   temperature_a    0.020054
3      pressure_a    0.018674
22           WT03    0.007686
7            PGTM    0.000000
25           WT06    0.000000
24           WT05    0.000000
23           WT04    0.000000
5            DAPR    0.000000
9            SNOW    0.000000
17           WESF    0.000000
16           WESD    0.000000
6            MDPR    0.000000
11           TAVG    0.000000
10           SNWD    0.000000
0    sensor_index    0.000000