In [3]:
import sqlite3
import numpy as np
import pandas as pd

In [11]:
query = """
    SELECT * FROM sensor_table
    """
with sqlite3.connect('../datasets/dallas.sqlite') as db:
    sensors = pd.read_sql(query, db)

In [13]:
sensors.columns

Index(['sensor_index', 'name', 'latitude', 'longitude'], dtype='object')

In [8]:
query = """
    SELECT * FROM data_table
    """
with sqlite3.connect('../datasets/dallas.sqlite') as db:
    data = pd.read_sql(query, db)

In [9]:
data

,time_stamp,sensor_index,humidity_a,humidity_b,temperature_a,temperature_b,pressure_a,pressure_b,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
0,2024-03-31T00:00:00Z,2644,61.762,NaN,78.568,NaN,989.307,NaN,9.051,9.763,9.051,9.949
1,2024-03-30T00:00:00Z,2644,53.012,NaN,77.025,NaN,991.739,NaN,2.920,3.099,2.920,3.099
2,2024-03-29T00:00:00Z,2644,51.843,NaN,72.680,NaN,995.137,NaN,4.294,4.859,4.294,4.993
3,2024-03-28T00:00:00Z,2644,46.133,NaN,64.470,NaN,1000.703,NaN,6.048,6.485,6.048,6.485
4,2024-03-27T00:00:00Z,2644,42.156,NaN,60.199,NaN,996.619,NaN,3.537,4.024,3.537,4.024
...,...,...,...,...,...,...,...,...,...,...,...,...
43486,2023-10-22T00:00:00Z,196421,33.152,33.152,85.249,85.249,989.905,989.905,8.332,8.130,8.332,8.130
43487,2023-10-20T00:00:00Z,196421,24.275,24.275,83.393,83.393,990.390,990.390,3.788,3.622,3.788,3.622
43488,2023-10-19T00:00:00Z,196421,31.012,31.012,80.329,80.329,991.847,991.847,4.339,4.135,4.339,4.135
43489,2023-10-17T00:00:00Z,196421,17.511,17.511,85.463,85.463,994.537,994.537,3.602,4.069,3.602,4.069
43490,2023-10-18T00:00:00Z,196421,29.923,29.923,74.749,74.749,992.135,992.135,4.379,4.223,4.379,4.223

In [10]:
data.columns

Index(['time_stamp', 'sensor_index', 'humidity_a', 'humidity_b',
       'temperature_a', 'temperature_b', 'pressure_a', 'pressure_b',
       'pm2.5_atm_a', 'pm2.5_atm_b', 'pm2.5_cf_1_a', 'pm2.5_cf_1_b'],
      dtype='object')

In [53]:
query = """
SELECT 
    s.sensor_index, 
    s.name, 
    s.latitude, 
    s.longitude, 
    d.time_stamp,
    d.humidity_a, 
    d.temperature_a, 
    d.pressure_a, 
    d."pm2.5_atm_a", 
    d."pm2.5_atm_b", 
    d."pm2.5_cf_1_a", 
    d."pm2.5_cf_1_b"
FROM 
    sensor_table AS s
JOIN 
    data_table AS d
ON 
    s.sensor_index = d.sensor_index
WHERE 
    d.time_stamp = '2024-03-30T00:00:00Z'
    
"""

with sqlite3.connect('../datasets/dallas.sqlite') as db:
    data_march_30 = pd.read_sql(query, db)
    
data_march_30

,sensor_index,name,latitude,longitude,time_stamp,humidity_a,temperature_a,pressure_a,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
0,2644,Sachse Farms,32.990840,-96.599300,2024-03-30T00:00:00Z,53.012,77.025,991.739,2.920,3.099,2.920,3.099
1,12969,Meadow Glen,32.991665,-96.859150,2024-03-30T00:00:00Z,68.232,79.918,989.738,3.176,3.941,3.176,3.941
2,13013,GPTX,32.766370,-97.037926,2024-03-30T00:00:00Z,47.996,78.404,995.925,3.663,3.460,3.663,3.460
3,16271,Arbormont Estates,32.882004,-97.084130,2024-03-30T00:00:00Z,53.761,77.072,990.509,3.462,2.452,3.465,2.452
4,46221,Thornbridge East,32.893590,-97.190370,2024-03-30T00:00:00Z,50.252,75.441,989.196,2.461,2.859,2.461,2.859
...,...,...,...,...,...,...,...,...,...,...,...,...
61,165171,Lake Arlington,32.678830,-97.221070,2024-03-30T00:00:00Z,50.415,77.792,991.652,2.720,2.584,2.720,2.584
62,182041,CleanAIRE NC Hickory Creek,33.126100,-97.059390,2024-03-30T00:00:00Z,42.982,79.114,991.808,3.418,3.827,3.418,3.827
63,184053,Creekwood Estates,32.909042,-97.124160,2024-03-30T00:00:00Z,46.140,81.353,992.833,3.481,3.660,3.481,3.660
64,196323,Duck Creek Air Quality,32.960114,-96.692200,2024-03-30T00:00:00Z,47.316,77.324,992.139,4.057,4.269,4.176,4.388
65,196421,Kilmichael Lane - PAII,32.977444,-96.776110,2024-03-30T00:00:00Z,48.680,76.991,990.053,3.047,2.930,3.047,2.930

In [39]:
data_march_30.columns

Index(['sensor_index', 'name', 'latitude', 'longitude', 'time_stamp',
       'humidity_a', 'temperature_a', 'pressure_a', 'pm2.5_atm_a',
       'pm2.5_atm_b', 'pm2.5_cf_1_a', 'pm2.5_cf_1_b'],
      dtype='object')

In [58]:
data_march_30.set_index('sensor_index')

,name,latitude,longitude,time_stamp,humidity_a,temperature_a,pressure_a,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b
sensor_index,,,,,,,,,,,
2644,Sachse Farms,32.990840,-96.599300,2024-03-30T00:00:00Z,53.012,77.025,991.739,2.920,3.099,2.920,3.099
12969,Meadow Glen,32.991665,-96.859150,2024-03-30T00:00:00Z,68.232,79.918,989.738,3.176,3.941,3.176,3.941
13013,GPTX,32.766370,-97.037926,2024-03-30T00:00:00Z,47.996,78.404,995.925,3.663,3.460,3.663,3.460
16271,Arbormont Estates,32.882004,-97.084130,2024-03-30T00:00:00Z,53.761,77.072,990.509,3.462,2.452,3.465,2.452
46221,Thornbridge East,32.893590,-97.190370,2024-03-30T00:00:00Z,50.252,75.441,989.196,2.461,2.859,2.461,2.859
...,...,...,...,...,...,...,...,...,...,...,...
165171,Lake Arlington,32.678830,-97.221070,2024-03-30T00:00:00Z,50.415,77.792,991.652,2.720,2.584,2.720,2.584
182041,CleanAIRE NC Hickory Creek,33.126100,-97.059390,2024-03-30T00:00:00Z,42.982,79.114,991.808,3.418,3.827,3.418,3.827
184053,Creekwood Estates,32.909042,-97.124160,2024-03-30T00:00:00Z,46.140,81.353,992.833,3.481,3.660,3.481,3.660
196323,Duck Creek Air Quality,32.960114,-96.692200,2024-03-30T00:00:00Z,47.316,77.324,992.139,4.057,4.269,4.176,4.388
196421,Kilmichael Lane - PAII,32.977444,-96.776110,2024-03-30T00:00:00Z,48.680,76.991,990.053,3.047,2.930,3.047,2.930

In [60]:
import numpy as np
from sklearn.neighbors import NearestNeighbors
coordinates = np.column_stack((data_march_30['latitude'], data_march_30['longitude']))

nn_model = NearestNeighbors(n_neighbors=5+1, algorithm='kd_tree')
nn_model.fit(coordinates)

distances, neighbors = nn_model.kneighbors(coordinates)
neighbors = neighbors[:, 1:]

In [74]:
data_march_30= data_march_30.set_index('sensor_index')

In [76]:
data_march_30.index[neighbors[0]].to_list()

[87721, 196323, 144032, 196421, 147038]

In [77]:
data_march_30['nearest_neighbors'] = [data_march_30.index[neighbors[i]].to_list() for i in range(len(data_march_30))]

In [78]:
data_march_30.head()

,name,latitude,longitude,time_stamp,humidity_a,temperature_a,pressure_a,pm2.5_atm_a,pm2.5_atm_b,pm2.5_cf_1_a,pm2.5_cf_1_b,nearest_neighbors
sensor_index,,,,,,,,,,,,
2644,Sachse Farms,32.990840,-96.599300,2024-03-30T00:00:00Z,53.012,77.025,991.739,2.920,3.099,2.920,3.099,"[87721, 196323, 144032, 196421, 147038]"
12969,Meadow Glen,32.991665,-96.859150,2024-03-30T00:00:00Z,68.232,79.918,989.738,3.176,3.941,3.176,3.941,"[113833, 147038, 113642, 59953, 196421]"
13013,GPTX,32.766370,-97.037926,2024-03-30T00:00:00Z,47.996,78.404,995.925,3.663,3.460,3.663,3.460,"[135002, 16271, 184053, 99595, 109566]"
16271,Arbormont Estates,32.882004,-97.084130,2024-03-30T00:00:00Z,53.761,77.072,990.509,3.462,2.452,3.465,2.452,"[184053, 135002, 46221, 13013, 127049]"
46221,Thornbridge East,32.893590,-97.190370,2024-03-30T00:00:00Z,50.252,75.441,989.196,2.461,2.859,2.461,2.859,"[51821, 184053, 16271, 99585, 127045]"

In [79]:
distances = distances[:,1:]

In [80]:
weights = 1/distances

In [89]:
weights.shape

(66, 5)

In [90]:
weights_dict = {}
for i, sensor_idx in enumerate(data_march_30.index):
    neighbor_indices = data_march_30.index[neighbors[i]]
    weights_dict[sensor_idx] = pd.Series(weights[i], index=neighbor_indices)

In [91]:
weights_dict

{2644: sensor_index
 87721     22.493422
 196323    10.219791
 144032     6.390445
 196421     5.639625
 147038     4.770331
 dtype: float64,
 12969: sensor_index
 113833    19.729089
 147038    18.592297
 113642    18.279316
 59953     12.753930
 196421    11.869590
 dtype: float64,
 13013: sensor_index
 135002    13.649043
 16271      8.030631
 184053     5.998508
 99595      5.828402
 109566     5.209995
 dtype: float64,
 16271: sensor_index
 184053    20.701430
 135002    10.042084
 46221      9.357173
 13013      8.030631
 127049     7.062703
 dtype: float64,
 46221: sensor_index
 51821     15.351762
 184053    14.708223
 16271      9.357173
 99585      8.429501
 127045     7.515522
 dtype: float64,
 51821: sensor_index
 46221     15.351762
 99585     12.455497
 151486     7.676567
 184053     7.558998
 127045     6.299892
 dtype: float64,
 53365: sensor_index
 164965    21.876136
 113642    21.377596
 53389     18.025823
 120681    12.070896
 113833    11.116410
 dtype: float64,
 53389: sensor_index
 53365     18.025823
 120681    11.728744
 113975    11.002003
 182041    10.697037
 164965    10.605625
 dtype: float64,
 59801: sensor_index
 59907     96.217740
 99309     35.785952
 114119    21.396744
 122927    19.179737
 114329    14.955815
 dtype: float64,
 59903: sensor_index
 99279     32.560263
 127067    26.983208
 114329    20.415426
 182041    15.805037
 122927    15.592445
 dtype: float64,
 59907: sensor_index
 59801     96.217740
 99309     31.490745
 122927    23.902247
 114119    20.814613
 114329    17.704054
 dtype: float64,
 59953: sensor_index
 12969     12.753930
 80533     11.440257
 113642    10.432009
 120681     9.370538
 128645     8.816972
 dtype: float64,
 72071: sensor_index
 87019    65.698935
 95481    26.405593
 87485    19.404016
 99163    14.537044
 99187    14.403471
 dtype: float64,
 80533: sensor_index
 128645    14.046749
 196421    13.375756
 59953     11.440257
 147038     9.827700
 12969      9.795878
 dtype: float64,
 87019: sensor_index
 72071    65.698935
 95481    34.227471
 87485    24.840210
 99187    15.414875
 99593    15.017317
 dtype: float64,
 87485: sensor_index
 87019    24.840210
 72071    19.404016
 95481    16.896520
 99593    11.475150
 99187    10.517808
 dtype: float64,
 87721: sensor_index
 2644      22.493422
 196323    17.339109
 144032     8.681864
 196421     7.036861
 80533      5.666655
 dtype: float64,
 95481: sensor_index
 87019    34.227471
 99187    27.174164
 72071    26.405593
 99593    26.286000
 99163    23.246471
 dtype: float64,
 97395: sensor_index
 114119    30.427939
 99309     19.667031
 59801     12.706554
 59907     12.371291
 113648     9.787406
 dtype: float64,
 99159: sensor_index
 99163     21.491116
 142154    19.394614
 99187     16.765209
 109638    14.380498
 99593     12.142644
 dtype: float64,
 99163: sensor_index
 99187     64.858155
 142154    35.762209
 99593     25.192231
 95481     23.246471
 99159     21.491116
 dtype: float64,
 99187: sensor_index
 99163     64.858155
 142154    41.236033
 99593     41.170604
 95481     27.174164
 99159     16.765209
 dtype: float64,
 99279: sensor_index
 59903     32.560263
 127067    17.120447
 127059    16.010666
 114329    15.374370
 122927    12.841648
 dtype: float64,
 99309: sensor_index
 114119    49.962255
 59801     35.785952
 59907     31.490745
 97395     19.667031
 122927    15.018740
 dtype: float64,
 99585: sensor_index
 51821     12.455497
 46221      8.429501
 127045     7.793468
 151486     6.724673
 184053     5.498765
 dtype: float64,
 99593: sensor_index
 99187     41.170604
 142154    27.649514
 95481     26.286000
 99163     25.192231
 87019     15.017317
 dtype: float64,
 99595: sensor_index
 165171    12.029800
 109638     8.437612
 109566     6.514956
 13013      5.828402
 99159      5.544877
 dtype: float64,
 104402: sensor_index
 151486    16.567017
 165171     7.202218
 51821      5.562757
 99585      4.796130
 99595      4.536597
 dtype: float64,
 109566: sensor_index
 109638    16.847192
 72071     14.316164
 87019     11.825495
 99163     10.743929
 95481     10.641502
 dtype: float64,
 109638: sensor_index
 109566    16.847192
 99159     14.380498
 99163     10.633549
 99187      9.148610
 72071      8.938623
 dtype: float64,
 112984: sensor_index
 2644      2.629756
 144032    2.581333
 87721     2.564680
 123409    2.397388
 196323    2.297356
 dtype: float64,
 113642: sensor_index
 53365     21.377596
 12969     18.279316
 164965    16.001664
 113833    14.593690
 120681    13.206365
 dtype: float64,
 113648: sensor_index
 113975    18.545632
 182041    12.507712
 97395      9.787406
 133820     9.649472
 114119     8.841447
 dtype: float64,
 113708: sensor_index
 59801     9.148390
 59907     8.635427
 99309     7.719343
 122927    7.014797
 114119    6.705789
 dtype: float64,
 113833: sensor_index
 12969     19.729089
 147038    19.652584
 164965    16.718252
 113642    14.593690
 53365     11.116410
 dtype: float64,
 113857: sensor_index
 164335    40.375550
 113833     8.077543
 147038     7.566351
 127075     7.274878
 164965     6.896442
 dtype: float64,
 113969: sensor_index
 133363    6.987090
 127045    5.945545
 113708    5.497111
 99585     4.965367
 99279     4.530798
 dtype: float64,
 113975: sensor_index
 182041    35.661237
 113648    18.545632
 59903     11.107511
 127067    11.041802
 53389     11.002003
 dtype: float64,
 114119: sensor_index
 99309     49.962255
 97395     30.427939
 59801     21.396744
 59907     20.814613
 122927    13.410389
 dtype: float64,
 114329: sensor_index
 127067    68.025810
 122927    65.256512
 59903     20.415426
 59907     17.704054
 99279     15.374370
 dtype: float64,
 118993: sensor_index
 113857    4.652601
 164335    4.181450
 127075    3.546360
 2644      3.326451
 133820    3.276968
 dtype: float64,
 120681: sensor_index
 113642    13.206365
 53365     12.070896
 53389     11.728744
 59953      9.370538
 127049     8.546773
 dtype: float64,
 122927: sensor_index
 114329    65.256512
 127067    33.848342
 59907     23.902247
 59801     19.179737
 59903     15.592445
 dtype: float64,
 123409: sensor_index
 123453    13.874057
 144468     8.972499
 128645     6.013937
 144032     5.504932
 80533      4.359885
 dtype: float64,
 123453: sensor_index
 144468    22.035603
 123409    13.874057
 128645     9.607125
 144032     6.053653
 80533      5.765718
 dtype: float64,
 127045: sensor_index
 127059    12.898759
 133363    10.949589
 99279      9.297319
 99585      7.793468
 46221      7.515522
 dtype: float64,
 127049: sensor_index
 127059    15.628394
 99279     10.654270
 59903     10.369624
 53389      9.861434
 182041     9.463610
 dtype: float64,
 127059: sensor_index
 99279     16.010666
 127049    15.628394
 127045    12.898759
 59903     11.771592
 133363     9.098208
 dtype: float64,
 127067: sensor_index
 114329    68.025810
 122927    33.848342
 59903     26.983208
 99279     17.120447
 59907     14.488305
 dtype: float64,
 127075: sensor_index
 133820    18.784899
 113648     8.110924
 164965     7.844218
 113857     7.274878
 164335     7.189444
 dtype: float64,
 128645: sensor_index
 144468    17.026195
 80533     14.046749
 123453     9.607125
 59953      8.816972
 144032     7.957684
 dtype: float64,
 133363: sensor_index
 99279     12.668162
 127045    10.949589
 114329    10.282151
 122927    10.172369
 59903      9.844885
 dtype: float64,
 133820: sensor_index
 127075    18.784899
 113648     9.649472
 113975     6.527418
 97395      6.102806
 164965     5.903469
 dtype: float64,
 135002: sensor_index
 13013     13.649043
 16271     10.042084
 59953      6.982248
 184053     6.762709
 120681     6.633645
 dtype: float64,
 142154: sensor_index
 99187    41.236033
 99163    35.762209
 99593    27.649514
 99159    19.394614
 95481    16.437508
 dtype: float64,
 144032: sensor_index
 196323    10.117921
 87721      8.681864
 80533      8.105964
 128645     7.957684
 144468     7.089355
 dtype: float64,
 144468: sensor_index
 123453    22.035603
 128645    17.026195
 123409     8.972499
 80533      7.770152
 144032     7.089355
 dtype: float64,
 147038: sensor_index
 196421    22.309719
 113833    19.652584
 12969     18.592297
 113642     9.833505
 80533      9.827700
 dtype: float64,
 151486: sensor_index
 104402    16.567017
 51821      7.676567
 99585      6.724673
 165171     6.218912
 46221      5.158409
 dtype: float64,
 164335: sensor_index
 113857    40.375550
 113833    10.040521
 147038     9.257206
 164965     7.965690
 196421     7.398160
 dtype: float64,
 164965: sensor_index
 53365     21.876136
 113833    16.718252
 113642    16.001664
 12969     11.038836
 53389     10.605625
 dtype: float64,
 165171: sensor_index
 99595     12.029800
 104402     7.202218
 151486     6.218912
 51821      5.310911
 109638     4.987611
 dtype: float64,
 182041: sensor_index
 113975    35.661237
 59903     15.805037
 127067    14.148282
 113648    12.507712
 114329    11.826456
 dtype: float64,
 184053: sensor_index
 16271     20.701430
 46221     14.708223
 127049     8.261247
 127059     7.951392
 51821      7.558998
 dtype: float64,
 196323: sensor_index
 87721     17.339109
 196421    11.671212
 2644      10.219791
 144032    10.117921
 80533      8.218614
 dtype: float64,
 196421: sensor_index
 147038    22.309719
 80533     13.375756
 12969     11.869590
 196323    11.671212
 113833    10.458673
 dtype: float64}

In [92]:
spatial_weights = pd.DataFrame(weights_dict).fillna(0).T

In [98]:
len(spatial_weights.columns.to_list())

63

In [101]:
spatial_weights

sensor_index,2644,12969,13013,16271,46221,51821,53365,53389,59801,59903,...,144468,147038,151486,164335,164965,165171,182041,184053,196323,196421
2644,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,4.770331,0.000000,0.0,0.0,0.0,0.0,0.000000,10.219791,5.639625
12969,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,18.592297,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,11.869590
13013,0.000000,0.00000,0.000000,8.030631,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,5.998508,0.000000,0.000000
16271,0.000000,0.00000,8.030631,0.000000,9.357173,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,20.701430,0.000000,0.000000
46221,0.000000,0.00000,0.000000,9.357173,0.000000,15.351762,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,14.708223,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165171,0.000000,0.00000,0.000000,0.000000,0.000000,5.310911,0.0,0.0,0.0,0.000000,...,0.0,0.000000,6.218912,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
182041,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,15.805037,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
184053,0.000000,0.00000,0.000000,20.701430,14.708223,7.558998,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
196323,10.219791,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,11.671212
196421,0.000000,11.86959,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,...,0.0,22.309719,0.000000,0.0,0.0,0.0,0.0,0.000000,11.671212,0.000000

In [37]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import normalize

def create_lag_features(data, k_values, lag_window):
    lagged_data = pd.DataFrame()
    for k in k_values:
        for index, row in data.iterrows():
            sensor_index = row['sensor_index']
            latitude = row['latitude']
            longitude = row['longitude']
            
            coords = row[['latitude', 'longitude']].values
            nbrs = NearestNeighbors(n_neighbors=k, algorithm='ball_tree').fit(coords)  # Fit the model with sensor locations
            distances, indices = nbrs.kneighbors(np.array([[latitude, longitude]]))  # Find nearest neighbors

            spatial_weights = np.zeros(len(sensors))
            spatial_weights[indices.flatten()] = 1 / k
            
            spatial_weights_normalized = normalize(spatial_weights.reshape(1, -1), norm='l1', axis=1)

            lagged_values = []
            for lag in range(1, lag_window + 1):
                lagged_value = []
                features = row[['humidity_a', 'humidity_b', 'temperature_a', 'temperature_b', 'pressure_a', 'pressure_b', 'pm2.5_atm_a', 'pm2.5_atm_b', 'pm2.5_cf_1_a', 'pm2.5_cf_1_b']].values
                lagged_value.append(np.dot(spatial_weights_normalized, features).flatten())
                lagged_values.append(lagged_value)
            
    return lagged_values

# Example usage (assuming sensors and data are DataFrames)
k_values = [5, 10, 15]
lag_window = 3

lagged_values = create_lag_features(sensors, data, k_values, lag_window)

ValueError: shapes (1,70) and (10,) not aligned: 70 (dim 1) != 10 (dim 0)