In [1]:
import pandas as pd

In [3]:
dallas = pd.read_csv('../datasets/Dallas_TX_2022-04-01_to_2024-04-01.csv')

In [4]:
dallas

,name,latitude,longitude,stations,source
0,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs
1,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs
2,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs
3,"Dallas, TX",32.778,-96.795,"F8578,D4127,KDAL,72259903971,KRBD,72258013960,...",obs
4,"Dallas, TX",32.778,-96.795,"F8578,KLNC,KDAL,72259903971,KRBD,72258013960,E...",obs
...,...,...,...,...,...
727,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs
728,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs
729,"Dallas, TX",32.778,-96.795,"F8578,KLNC,KDAL,72259903971,KRBD,72258013960,7...",obs
730,"Dallas, TX",32.778,-96.795,"F8578,KLNC,KDAL,72259903971,KRBD,72258013960,7...",obs
731,"Dallas, TX",32.778,-96.795,"F8578,KDAL,72259903971,KRBD,72258013960,722143...",obs

In [5]:
dallas['latitude'].unique()

array([32.778])